In [3]:
# Сделайте DataFrame с колонками:
#   "Цена" — значения [99.9, 149.5, 199.0],
#   "Товар" — строки с названиями,
#   "В наличии" — логические значения.
# Выведите сам DataFrame и тип данных каждой колонки.
import pandas as pd
df = pd.DataFrame({
"Цена": [99.9, 149.5, 199.0],
"Товар": ["Огурцы", "Помидоры", "Мандарины"],
"В наличии": [True, False, False]   
})  

print("Товары: \n", df)
print("Типы данных: \n", df.dtypes)
# используйте pd.DataFrame, df.dtypes, df['col'].dtype

Товары:
     Цена      Товар  В наличии
0   99.9     Огурцы       True
1  149.5   Помидоры      False
2  199.0  Мандарины      False
Типы данных:
 Цена         float64
Товар         object
В наличии       bool
dtype: object

In [16]:
# Сделайте объект Series с данными температур [18, 20, 21, 19],
# дайте ему имя "Температура".
# Выведите Series, его индекс, значения, длину и тип данных.

s_temper = pd.Series([18, 20, 21, 19], name = "grad")
print("индекс:", s_temper.index.astype(int), "\nзначения:", s_temper.values,"\nдлина:", len(s_temper),"\nтип данных:", s_temper.dtype)
# используйте pd.Series, свойства .index, .values, .dtype, а также len()

индекс: RangeIndex(start=0, stop=4, step=1)
значения: [18 20 21 19]
длина: 4
тип данных: int64

In [24]:
# Сделайте DataFrame с колонкой "City" со строками ["  moscow", "SPb  ", "kaZAN "].
# Очистите данные: уберите пробелы по краям и приведите строки к виду "С Заглавной буквы".
# Выведите исходный и очищенный столбец.
df = pd.DataFrame({"City": ["  moscow", "SPb  ", "kaZAN "]})  
df["City"] = df["City"].str.strip().str.title()
print(df["City"])

# используйте строковые методы .str.strip() и .str.title()

0    Moscow
1       Spb
2     Kazan
Name: City, dtype: object

In [32]:
# Сделайте DataFrame с колонкой "Score" со значениями [85, 90, 95].
# 1) Преобразуйте значения в строки вида "score_85", "score_90", ...
# 2) Из полученных строк извлеките обратно числа и приведите их к int в отдельной колонке.
df = pd.DataFrame({"Score": [85, 90, 95]})  

df["Score"] = "score_" + df["Score"].astype(str)
print(df["Score"],'\n')

df["Score"] = df["Score"].str.extract(r'(\d+)').astype(int)
print(df["Score"])
# используйте .astype(str) + конкатенацию, 
# для извлечения — .str.extract(r'(\d+)') или .str.replace() + .astype(int)

0    score_85
1    score_90
2    score_95
Name: Score, dtype: object

0    85
1    90
2    95
Name: Score, dtype: int64